.cont_logo {
	height: 90px;
}
.logos {
	height: 90px;
}
.cont_kotak {
	width:390px;
	display: inline-block;
	color: white;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 10px;
	margin-right: -280px;
	font:arial black;
}
.cont_logo_img {
	display: inline-block;
}
.right-title {
	color: white;
	text-align: right;
}