@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext");

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px !important;
    color: #3B566E
}

h1 {
    font-weight: 400;
    font-size: 36px
}

h2 {
    font-weight: 400;
    font-size: 32px
}

h3 {
    font-weight: 400;
    font-size: 28px
}

h4 {
    font-weight: 400;
    font-size: 24px
}

h5 {
    font-weight: 400;
    font-size: 20px
}

h6 {
    font-weight: 400;
    font-size: 16px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix { display: inline-block }

html[xmlns] .clearfix { display: block }

* html .clearfix { height: 1% }

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none
}

header,
nav,
section,
article,
aside,
footer,
hgroup { display: block }

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a { text-decoration: none !important }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul { margin-bottom: 0 }

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99999;
    margin: 0;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.loader-wrapper .loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.loader-wrapper .loader .dot {
    width: 12px;
    height: 12px;
    background: #2F5572;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: slide 1.2s infinite;
    animation: slide 1.2s infinite
}

.loader-wrapper .loader .dot:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    background: #ffffff
}

.loader-wrapper .loader .dot:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    background: #ffffff
}

.loader-wrapper .loader .dot:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background: #ffffff
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        opacity: 0.3;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

::-moz-selection {
    background: #404BCB;
    color: #fff
}

::selection {
    background: #404BCB;
    color: #fff
}

::-moz-selection {
    background: #404BCB;
    color: #fff
}

.align-self-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important
}

.align-self-bottom {
    -ms-flex-item-align: flex-end !important;
    align-self: flex-end !important
}

.section {
    padding: 80px 0;
    position: relative
}

.section.services-section {
    margin-top: -200px;
    position: relative;
    z-index: 10
}

.section.blurred {
    background-image: url(../img/default.jpg);
    background-size: cover
}

.section.ptop-10 { padding-top: 110px }

.page .cover {
    min-height: 350px;
    position: relative
}

.page .cover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    z-index: 2;
    opacity: 0.85
}

.page .cover .page-top {
    position: absolute;
    width: 100%;
    bottom: 50px;
    z-index: 3
}

.page .cover .page-top h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.4px;
    color: #fff;
    text-align: center
}

.page .cover .page-top .breadcrumb {
    float: none;
    border-radius: 0px;
    background: none;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 0px;
    display: block;
    text-align: center
}

.page .cover .page-top .breadcrumb li {
    font-weight: 400;
    font-size: 14px;
    color: #F7F8FF;
    line-height: 30px;
    margin-left: 10px;
    display: inline-block
}

.page .cover .page-top .breadcrumb li:after {
    font-family: FontAwesome;
    content: "\f105";
    margin-left: 10px;
    color: #F7F8FF
}

.page .cover .page-top .breadcrumb li:first-child { margin-left: 0px }

.page .cover .page-top .breadcrumb li:last-child:after {
    content: '';
    margin-left: 0px
}

.page .cover .page-top .breadcrumb li a {
    font-weight: 400;
    font-size: 14px;
    color: #fff
}

.page .page-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.88px;
    line-height: 30px;
    color: #647E95
}

.page .page-bottom p { margin-bottom: 28px }

.page .page-bottom .home-services-item {
    margin-top: 0px;
    margin-bottom: 30px
}

.page-gallery {
    height: 400px;
    display: block;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 30px
}

.page-gallery.small { height: 185px }

.mtop-70 { margin-top: 70px !important }

.mbottom-20 { margin-bottom: 20px !important }

.mbottom-30 { margin-bottom: 30px !important }

.mbottom-60 { margin-bottom: 60px !important }

.mbottom-0 { margin-bottom: 0px !important }

.pbottom-70 { padding-bottom: 70px !important }

.ptop-60 { padding-top: 60px !important }

.pbottom-30 { padding-bottom: 30px !important }

.pbottom-60 { padding-bottom: 60px !important }

blockquote {
    margin-bottom: 28px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 4px;
    background: #F4F8FB;
    overflow: hidden
}

blockquote .text {
    position: relative;
    text-align: center
}

blockquote .text p {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-bottom: 10px !important
}

blockquote .text:before {
    font-family: FontAwesome;
    content: "\f10d";
    position: absolute;
    left: 0px;
    top: 0px;
    color: #3B566E;
    z-index: 1;
    font-size: 40px;
    color: #e1ecf4
}

blockquote .text:after {
    font-family: FontAwesome;
    content: "\f10e";
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #3B566E;
    z-index: 1;
    font-size: 40px;
    color: #e1ecf4
}

blockquote .author {
    color: #3B566E;
    text-align: center
}

.left-heading .section-title {
    font-weight: 400;
    font-size: 22px;
    color: #3B566E;
    letter-spacing: 1.75px;
    line-height: 42px;
    margin-bottom: 20px !important
}

.center-heading { text-align: center }

.center-heading .section-title {
    font-weight: 400;
    font-size: 24px;
    color: #3B566E;
    letter-spacing: 1.30px;
    line-height: 30px;
    margin-bottom: 20px !important;
    margin-top: -10px !important
}

.left-text {
    font-weight: 400;
    font-size: 16px;
    color: #647E95;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px
}

.toppest { padding-top: 160px !important }

.left-text p { margin-bottom: 30px }

.center-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #647E95;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px
}

.center-text p { margin-bottom: 30px }

.btn-white {
    display: block;
    width: 225px;
    height: 45px;
    line-height: 44px;
    color: #404BCB;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #fff;
    border-radius: 30px 0px 30px 0px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer
}

.btn-white:hover {
    background: none;
    color: #fff
}

.btn-white-line {
    display: block;
    width: 225px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #fff;
    border-radius: 30px 0px 30px 0px;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer
}

.btn-white-line:hover {
    background: #fff;
    color: #404BCB
}

.btn-primary-line {
    display: block;
    width: 225px;
    height: 45px;
    line-height: 45px;
    color: #404BCB;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #404BCB;
    border-radius: 30px 0px 30px 0px;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer
}

.btn-primary-line:hover {
    background: #404BCB;
    color: #fff
}

.header-area {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-image: -webkit-linear-gradient(127deg, #2986a7c9 0%, #114b8dde 91%);
    background-image: -o-linear-gradient(127deg, #2986a7c9 0%, #114b8dde 91%);
    background-image: linear-gradient(127deg, #2986a7c9 0%, #114b8dde 91%);
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)
}

.header-area .main-nav .logo {
    float: left;
    margin-top: 15px;
    max-width: 300px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-area .main-nav .logo img {
    max-width: 100%;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-area .main-nav .dark-logo { display: none }

.header-area .main-nav .nav {
    float: right;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.header-area .main-nav .nav li { margin-left: 35px }

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #fafafa;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 36px;
    line-height: 36px;
    border: transparent
}

.header-area .main-nav .nav li a:hover { color: #fecf56 }

.header-area .main-nav .nav li a.btn-nav-line {
    border: 1px solid #fecf56;
    color: #fecf56;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0;
    -o-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0
}

.header-area .main-nav .nav li a.btn-nav-line:hover {
    background: #fecf56;
    color: #fff
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #3B566E;
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    left: 0
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #3B566E;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0
}

.header-area .main-nav .menu-trigger span:after { width: 22px }

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after { content: "" }

.header-area .main-nav .menu-trigger span { top: 16px }

.header-area .main-nav .menu-trigger span:before {
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10
}

.header-area .main-nav .menu-trigger span:after {
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%
}

.header-area .main-nav .menu-trigger.active span:before {
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #3B566E
}

.header-area .main-nav .menu-trigger.active span:after {
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #3B566E
}

.header-area.header-sticky {
    background: #fff;
    height: 80px;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)
}

.header-area.header-sticky .logo { margin-top: 22px }

.header-area.header-sticky .light-logo { display: none }

.header-area.header-sticky .nav { margin-top: 20px !important }

.welcome-area {
    min-height: 637px;
    height: auto;
    position: relative
}

.welcome-area .welcome-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.welcome-area .welcome-bg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    z-index: 3
}

.welcome-area .welcome-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: none;
    z-index: 6
}

.welcome-area .welcome-bg .welcome-clip {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url("../images/bg-bottom.svg") bottom center no-repeat;
    bottom: 0px
}

.welcome-area .welcome-content {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    z-index: 11;
    -webkit-transform: perspective(1px) translateY(0%);
    transform: perspective(1px) translateY(0%)
}

.welcome-area .welcome-content h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.4px;
    color: #fff;
    margin-bottom: 30px !important
}

.welcome-area .welcome-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .88px;
    left: 0.53px;
    color: #fff;
    margin-bottom: 30px
}

.welcome-area .welcome-content .apps { padding-top: 30px }

.welcome-area .welcome-content .apps .app-item {
    display: block;
    height: 70px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative
}

.welcome-area .welcome-content .apps .app-item:hover .base strong { margin-left: 40px }

.welcome-area .welcome-content .apps .app-item .icon {
    width: 70px;
    float: left;
    position: relative;
    z-index: 2;
}

.welcome-area .welcome-content .apps .app-item .base {
    position: absolute;
    float: left;
    width: calc(100% - 60px);
    height: 60px;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    top: 5px;
    right: 0px;
    z-index: 1;
    overflow: hidden;
}

.welcome-area .welcome-content .apps .app-item .base:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%)
}

.welcome-area .welcome-content .apps .app-item .base strong {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.7px;
    color: #3B566E;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.welcome-area .welcome-content .apps .app-item .base .platforms {
    float: right;
    height: 60px;
    margin-right: 20px;
}

.welcome-area .welcome-content .apps .app-item .base .platforms i {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: #C4C7F1;
}

.home-services-item {
    display: block;
    background-image: -webkit-linear-gradient(323deg, #fff 0%, #fff 91%);
    background-image: -o-linear-gradient(323deg, #fff 0%, #fff 91%);
    background-image: linear-gradient(127deg, #fff 0%, #fff 91%);
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    line-height: 28px;
    letter-spacing: 0.88px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.home-services-item.box { border-radius: 4px !important }

.home-services-item.box:before { border-radius: 4px !important }

.home-services-item:before {
    content: '';
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 5px;
    background: transparent;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.home-services-item:hover,
.home-services-item.active { color: #fff }

.home-services-item:hover:before,
.home-services-item.active:before { height: 100% }

.home-services-item:hover .services-title,
.home-services-item.active .services-title { color: #fff }

.home-services-item:hover i,
.home-services-item.active i { background-image: -webkit-linear-gradient(323deg, #fff 0%, #fff 91%); background-image: -o-linear-gradient(323deg, #fff 0%, #fff 91%); background-image: linear-gradient(127deg, #fff 0%, #fff 91%) }

.home-services-item .services-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #3B566E;
    margin-bottom: 0 !important;
    letter-spacing: 0.7px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 2
}

.home-services-item i {
    font-size: 26px;
    margin-bottom: 23px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 2
}

.home-services-item img {
    max-width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 2;
    opacity: 1
}

.home-services-item:hover img,
.home-services-item.active img { opacity: 0 }

.home-services-item img.hovered {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
    opacity: 0
}

.home-services-item:hover img.hovered,
.home-services-item.active img { opacity: 1 }

.home-services-item p {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px !important
}

.home-services-item .btn-white-line {
    position: relative;
    z-index: 2;
    width: 100%
}

.features li {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}

.features li:before {
    content: '';
    position: absolute;
    width: calc(100% - 18px);
    width: -webkit-calc(100% - 18px);
    right: 0px;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06)
}

.features li:hover .count:before,
.features li.active .count:before { height: 100% }

.features li:hover .count span,
.features li.active .count span { color: #fff }

.features li .count {
    float: left;
    width: 37px;
    height: 37px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 13px 0 rgba(203, 211, 221, 0.36);
            box-shadow: 0 2px 13px 0 rgba(203, 211, 221, 0.36);
    border-radius: 3px;
    z-index: 3;
    margin-top: 16px
}

.features li .count:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    z-index: 1;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s
}

.features li .count span {
    display: block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    font-size: 16px;
    color: #404BCB;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    overflow: hidden;
    z-index: 2
}

.features li .text {
    float: left;
    width: calc(100% - 68px);
    width: -webkit-calc(100% - 68px);
    padding-left: 20px
}

.features li .text .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #3B566E;
    margin-top: 20px;
    margin-bottom: 24px !important;
    position: relative;
    z-index: 2
}

.features li .text p {
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    letter-spacing: 0.88px;
    line-height: 28px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px
}

.page-app {
    position: relative;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 70px
}

.page-app:hover .app-content:before { height: 100% }

.page-app:hover .app-content .title { color: #ffffff }

.page-app:hover .app-content .text { color: #F7F8FF }

.page-app:hover .app-content .stars li { color: #F7F8FF }

.page-app:before {
    content: '';
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px
}

.page-app .icon {
    float: left;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: -50px;
    z-index: 3;
    margin-top: 20px
}

.page-app .app-content {
    position: relative;
    z-index: 2;
    float: right;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 70px;
    overflow: hidden;
    border-radius: 5px
}

.page-app .app-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1
}

.page-app .app-content .title {
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 0.7px;
    margin-bottom: 2px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.page-app .app-content .stars {
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: 2
}

.page-app .app-content .stars li {
    display: inline;
    margin-right: 2px;
    font-size: 12px;
    color: #AEBCD6;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.page-app .app-content .stars li i.active { color: #F5A623 }

.page-app .app-content .text {
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.app-single .header {
    padding: 40px;
    padding-bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}

.app-single .header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%)
}

.app-single .header .title h2 {
    display: block;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 5px !important
}

.app-single .header .title .stars {
    overflow: hidden;
    margin-bottom: 10px
}

.app-single .header .title .stars li {
    float: left;
    margin-right: 5px;
    font-size: 12px;
    color: #AEBCD6;
}

.app-single .header .title .stars li i.active { color: #F5A623 }

.app-single .header .download-buttons {
    float: right;
    text-align: right;
    margin-top: 5px
}

.app-single .header .download-buttons a {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px
}

.app-single .item {
    padding: 40px;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative
}

.app-single .item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0px;
    bottom: 0px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%)
}

.app-single .item .icon {
    float: left;
    width: 30px
}

.app-single .item .icon i {
    font-size: 26px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.app-single .item .content {
    float: left;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    padding-left: 30px
}

.app-single .item .content .title {
    margin-top: 3px;
    margin-bottom: 26px !important;
}

.app-single .item .content .text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #647E95
}

.app-single .item .content .text p { margin-bottom: 16px }

.app-single .item .content .text .version { margin-bottom: 30px }

.app-single .item .content .text .version h6 { margin-bottom: 10px !important }

.app-single .item .content .text .version ul li {
    font-size: 14px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.app-single .item .content .text .version ul li:hover { padding-left: 5px }

.app-single .item .content .text .version ul li:before {
    font-family: FontAwesome;
    content: "\f105";
    color: #404BCB;
    margin-right: 10px
}

.app-single .item .content .gallery .gallery-item {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 30px
}

aside.default-aside .sidebar .box { margin-bottom: 30px }

aside.default-aside .sidebar ul {
    border: 1px solid #ECF7FF;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px
}

aside.default-aside .sidebar ul li.active a {
    background: #F4F8FB;
    color: #647E95
}

aside.default-aside .sidebar ul li.active a:after { color: #647E95 }

aside.default-aside .sidebar ul li.active a:hover { padding-left: 60px }

aside.default-aside .sidebar ul li:last-child a { border: none }

aside.default-aside .sidebar ul li a {
    display: block;
    border-bottom: 1px dashed #ECF7FF;
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
    letter-spacing: 0.88px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative
}

aside.default-aside .sidebar ul li a:hover { padding-left: 70px }

aside.default-aside .sidebar ul li a:after {
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    left: 30px;
    color: #3B566E
}

aside.default-aside .sidebar ul li a span {
    float: right;
    margin-right: 30px;
    display: inline-block;
    background: #F4F8FB;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    color: #647E95;
    margin-top: 18px;
    border-radius: 100px
}

aside.default-aside .sidebar .search-widget {
    display: block;
    margin-bottom: 30px;
    height: 50px;
    position: relative
}

aside.default-aside .sidebar .search-widget input {
    border: 1px solid #ECF7FF;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 20px;
    padding-right: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

aside.default-aside .sidebar .search-widget input:focus {
    border: 1px solid #404BCB;
    padding-left: 30px
}

aside.default-aside .sidebar .search-widget button {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border: none;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0px
}

aside.default-aside .sidebar .search-widget button i { color: #fff }

aside.default-aside .sidebar .widget-tags {
    border: 1px solid #F4F8FB;
    padding: 30px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 4px
}

aside.default-aside .sidebar .widget-tags a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #F4F8FB;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

aside.default-aside .sidebar .widget-tags a:hover {
    background: #404BCB;
    color: #fff
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 365px;
    margin-bottom: 90px
}

.map-wrapper .map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06)
}

.map-wrapper .contact-info {
    height: 365px;
    background-image: -webkit-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: -o-linear-gradient(323deg, #2986a7 0%, #114b8d 91%);
    background-image: linear-gradient(127deg, #2986a7 0%, #114b8d 91%);
    padding: 40px;
    padding-top: 55px;
    color: #fff;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06)
}

.map-wrapper .contact-info .item {
    overflow: hidden;
    margin-bottom: 30px
}

.map-wrapper .contact-info .item i {
    float: left;
    font-size: 16px;
    width: 20px;
    margin-right: 10px;
    margin-top: 5px
}

.map-wrapper .contact-info .item span {
    float: left;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    font-size: 14px
}

.map-wrapper .contact-info .item span a { color: #fff }

.map-wrapper .contact-info .social {
    overflow: hidden;
    margin-top: 5px;
    text-align: center
}

.map-wrapper .contact-info .social li {
    display: inline;
    font-size: 22px;
    margin-right: 7px;
    margin-left: 7px
}

.map-wrapper .contact-info .social li a { color: #fff }

.contact-text {
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    letter-spacing: 0.6px;
    line-height: 26px
}

.contact-text p { margin-bottom: 28px }

.contact-form input,
.contact-form textarea {
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #404BCB;
    padding-left: 30px
}

.contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px
}

footer { background: #fafafa }

footer .text {
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    line-height: 26px;
    letter-spacing: 0.88px
}

footer h5 {
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 0.69px;
    line-height: 30px;
    margin-bottom: 30px !important
}

footer .footer-nav li a {
    display: block;
    overflow: hidden
}

footer .footer-nav li a:hover span { padding-left: 5px }

footer .footer-nav li a i {
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 12px;
    font-size: 14px;
    color: #3B566E
}

footer .footer-nav li a span {
    float: left;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

footer .address p {
    display: block;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    line-height: 26px;
    letter-spacing: 0.88px;
    margin-bottom: 5px
}

footer .address p a { color: #404BCB }

footer .address .social {
    overflow: hidden;
    margin-top: 5px
}

footer .address .social li {
    float: left;
    font-size: 16px;
    margin-right: 10px
}

footer .address .social li a { color: #647E95 }

footer .copyright {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #647E95;
    letter-spacing: 0.88px
}

#map { height: 100px }

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(18, 78, 143) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    -o-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06)
}
  
.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s
}
  
.cd-top.cd-top--show {
    visibility: visible;
    opacity: 1;
}
  
.cd-top.cd-top--fade-out { opacity: .5 }

.cd-top:hover {
    background-color: #114b8d;
    opacity: 1
} 

@media (max-width: 1200px) {
    .header-area .main-nav .nav li { margin-left: 30px !important }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 52px;
        width: 52px;
        right: 30px;
        bottom: 30px
    }
}

@media (max-width: 991px) {
    .header-area .main-nav .logo img {
        max-width: 300px;
        display: block;
        margin: 0 auto
    }

    .header-area {
        height: 80px;
        -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06)
    }

    .header-area .container { padding: 0px }

    .header-area .logo {
        margin: 14px auto 0 !important;
        float: none !important;
        display: block
    }

    .header-area .light-logo { display: none !important }

    .header-area .dark-logo,
    .header-area .menu-trigger { display: block !important }

    .header-area .main-nav { overflow: hidden }

    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        margin-top: 80px !important;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s
    }

    .header-area .main-nav .nav li {
        width: 100%;
        margin-left: 15px !important;
        background: #fff;
        margin: 0px !important;
        border-bottom: 1px solid #f5f5f5
    }

    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        padding-left: 30px !important;
        border: none !important;
        background: #fff !important;
        color: #3B566E !important
    }

    .header-area .main-nav .nav li a:hover { background: #f5f5f5 !important }

    .header-area .main-nav .nav li a.btn-nav-line {
        border: none !important;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: left;
        border-radius: 0px
    }

    .welcome-area .welcome-content {
        position: relative;
        -webkit-transform: translateY(0%) !important;
        -ms-transform: translateY(0%) !important;
        transform: translateY(0%) !important;
        padding-top: 100px
    }

    .welcome-area .welcome-content h1 {
        font-size: 26px !important;
        line-height: 36px !important
    }
    
    .welcome-area .welcome-content .apps { margin-top: 30px }

    .welcome-area .welcome-content .apps .app-item { margin-bottom: 10px }

    .page .cover h1 {
        font-size: 26px !important;
        line-height: 36px !important
    }

    .page .cover .page-top { text-align: center }

    .page .cover .page-top .breadcrumb {
        float: none;
        text-align: center;
        display: block
    }

    .page .cover .page-top .breadcrumb li { display: inline }

    .page-gallery { height: 185px }

    .mobile-top-fix { margin-top: 30px }

    .home-services-item.mtop-70 { margin-top: 30px !important }

    .services-section { margin-top: 0px !important }

    footer .text { margin-bottom: 30px }

    footer h5 { margin-bottom: 15px }
    
    footer .footer-nav { margin-bottom: 30px }
    
    #map { height: 80px!important }

    .leaflet-left,
    .leaflet-bottom,
    .leaflet-right { display: none!important }

    .map-wrapper { height: auto }

    .map-wrapper .map-canvas {
        position: relative;
        height: 365px;
        margin-bottom: 30px
    }
    
    .map-wrapper .contact-info { border-radius: 5px !important }

    .default-aside { margin-bottom: 30px }

    .app-single .header .icon {
        text-align: center;
        margin-bottom: 20px
    }

    .app-single .header .title { text-align: center }

    .app-single .header .title h2 { margin-bottom: 10px }

    .app-single .header .title .stars {
        text-align: center;
        margin-bottom: 20px
    }

    .app-single .header .title .stars li {
        float: none;
        display: inline
    }

    .app-single .header .download-buttons {
        float: none;
        text-align: right
    }

    .app-single .header .download-buttons a {
        margin-left: 5px;
        margin-right: 5px
    }
}

@media (min-width: 992px) {
    .header-area .main-nav .nav { 
        display: -webkit-box !important; 
        display: -ms-flexbox !important; 
        display: flex !important
    }
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px
    }
}

@media (max-width: 420px) {
    .app-single .header .download-buttons { text-align: center }

    .toppest { padding-top: 120px !important }

    .section { padding: 40px 0 }

    .cd-top { bottom: 10px }
}